.comment {
    background: #DDDDDD;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    width: 30%;
}