.comment {
    background: #DDDDDD;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    width: 30%;
}

.content a {
    color: tomato;
}

.links {
    font-size: 0.8rem;
    
}

.links a {
    margin-left: 0.3rem;
    color: tomato;
}

.links span {
    font-style: italic;
}