.link__list {
    font-size: 0.8rem;
    
}

.link__list a {
    
    color: tomato;
}

.link__list span {
    font-style: italic;
}

.link__list li {
    margin-left: 0.5rem;
    display: inline;
  }