.post {
    /* background: #DDDDDD; */
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    
}


.post__link {
    color: tomato;
    margin-left: 1rem;
}