.thread {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    margin-left: 1rem;
    padding: 10px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    width: 60%;
    /* background: #DDDDDD; */
}

.comment__list {
    flex-direction: column;
    
}

.form {
    width: 30%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}